<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Admin Panel</title>
    </head>
    <body>
        <main class="main-content" layout:fragment="content">
            <p class="notification-bar" th:if="${notification}" th:text="${notification}">Notification bar</p>
            <h2 class="list-heading">Admin Panel</h2>
            <ul class="list-border">
                <li>
                    Movie
                    <div>
                        <a class="btn add" href="#" th:href="@{/admin/movie-add}">Add</a>
                        <a class="btn edit" href="#" th:href="@{/admin/movie-edit}">Edit</a>
                        <a class="btn delete" href="#" th:href="@{/admin/movie-delete}">Delete</a>
                    </div>
                </li>
                <li>
                    Genre
                    <div>
                        <a class="btn add" href="#" th:href="@{/admin/genre-add}">Add</a>
                        <a class="btn edit" href="#" th:href="@{/admin/genre-edit}">Edit</a>
                        <a class="btn delete" href="#" th:href="@{/admin/genre-delete}">Delete</a>
                    </div>
                </li>
            </ul>
        </main>
    </body>
</html>