<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Dodaj nowy gatunek filmowy</title>
    </head>
    <body>
        <main class="wrapper" layout:fragment="content">
            <div class="form-wrapper">
                <form action="#" th:action="@{/admin/dodaj-gatunek}" method="post" th:object="${genre}">
                    <h2>Dodaj nowy gatunek</h2>

                    <div class="input-group">
                        <input type="text" name="username" th:field="*{name}" required>
                        <label>Nazwa</label>
                    </div>

                    <div class="textarea-group">
                        <textarea rows="5" th:field="*{description}" maxlength="500" required></textarea>
                        <label>Opis - max 500 znaków</label>
                    </div>
                    <button type="submit">Dodaj</button>
                </form>
            </div>
        </main>
    </body>
</html>