<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Usuń gatunek</title>
    </head>
    <body>
        <main class="main-content" layout:fragment="content">

            <h2 class="list-heading">Usuń gatunek</h2>

            <form action="#" th:action="@{/admin/usun-gatunek}" method="post" class="pick-movie">
                <div>
                    <label>Tytuł</label>
                    <select name="genreId" id="genre-del-name" required>
                        <option value="" hidden="">Wybierz gatunek</option>
                        <option th:each="genre, i : ${allGenres}" th:value="${genre.id}" th:text="${genre.name}"></option>
                    </select>
                </div>
                <button type="submit">Usuń</button>
            </form>

            <div class="genre-preview invisible" th:each="genre, i : ${allGenres}" th:object="${genre}" th:id="genre-del-option- + ${i.index}">
                <div class="genre-preview-name">
                    <div class="name-text">Nazwa</div>
                    <div class="name-value" th:text="*{name}"></div>
                </div>
                <div class="genre-preview-description">
                    <div class="desc-text">Opis</div>
                    <div class="desc-value" th:text="*{description}"></div>
                </div>
            </div>
        </main>
    </body>
</html>