<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Edytuj gatunek filmowy</title>
    </head>
    <body>
        <main class="main-content" layout:fragment="content">

            <h2 class="list-heading">Edytuj gatunek</h2>

            <div class="pick-movie">
                <label>Gatunek</label>
                <select id="genre-name" required>
                    <option value="" hidden="">Wybierz gatunek</option>
                    <option th:each="genre, i : ${allGenres}" th:value="${i.index}" th:text="${genre.name}"></option>
                </select>
            </div>

            <form action="#" th:action="@{/admin/edytuj-gatunek}" method="post"
                  class="mc-form invisible" th:each="genre, i : ${allGenres}" th:object="${genre}" th:id="genre-option- + ${i.index}">

                <input type="hidden" name="id" th:value="*{id}">

                <label for="genreName">Nazwa</label>
                <input type="text" name="name" id="genreName" maxlength="100" placeholder="np.Horror" th:value="*{name}">

                <label for="movieShortDescription">Opis - max 500 znaków</label>
                <textarea name="description" id="movieShortDescription" rows="5" maxlength="500" th:text="*{description}"></textarea>

                <button type="submit">Zapisz</button>
            </form>
        </main>
    </body>
</html>