<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Add new movie</title>
    </head>
    <body>

        <main class="wrapper" layout:fragment="content">
            <div class="form-wrapper">
                <form action="#" th:action="@{/admin/dodaj-film}" enctype="multipart/form-data" method="post" th:object="${movie}">

                    <h2>Add new movie</h2>

                    <div class="row">
                        <div class="input-group">
                            <input type="text" th:field="*{title}" required>
                            <label>Title</label>
                        </div>

                        <div class="input-group">
                            <input type="text" th:field="*{originalTitle}" required>
                            <label>Original title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <input type="number" min="1" pattern="\d*"
                                   oninput="this.value > getCurrentYear() ? this.value = getCurrentYear() : this.value = this.value.slice(0, this.maxLength)"
                                   maxlength="4" th:field="*{releaseYear}" required>
                            <label>Release year</label>
                        </div>

                        <div class="input-group">
                            <select th:field="*{genre}" required>-->
                                <option value="" hidden=""></option>
                                <option th:each="genre : ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
                            </select>
                            <label>Choose movie genre</label>
                        </div>

                        <div class="promoted">
                            <label><input type="checkbox" th:field="*{promoted}"> Promoted?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="trailer-poster">
                            <div class="input-group youtube-trailer">
                                <input type="text" th:field="*{youtubeTrailer}" required>
                                <label>Trailer (YouTube link)</label>
                            </div>
                            <label class="custom-file-upload">Add poster<input type="file" th:field="*{poster}" accept="image/png, image/jpg"></label>
                        </div>

                        <div class="poster-preview">
                            <img src="">
                        </div>
                    </div>

                    <div class="textarea-group">
                        <textarea rows="5" th:field="*{shortDescription}" maxlength="200" required></textarea>
                        <label>Short description</label>
                    </div>

                    <div class="textarea-group">
                        <textarea rows="10" th:field="*{description}" maxlength="10000" required></textarea>
                        <label>Description</label>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>
        </main>

    </body>
</html>