<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>This page doesn't exist - MovieClub</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <div class="error-container">
            <h2 class="error-header">This page doesn't exist.</h2>
            <i class="fa-solid fa-face-frown error-icon"></i>
            <p>The requested URL was not found on our server.</p>
        </div>
    </main>
</div>
</body>
</html>