<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <title>Move genres - MovieClub</title>
    </head>
    <body>
        <div class="container">
            <main class="main-content" layout:fragment="content">
                <h2 class="list-heading">Movie genres</h2>
                <p class="list-description">Genres in our catalogue. Choose one for you!</p>
                <ul class="list-border">
                    <li th:each="genre : ${genres}">
                        <a th:href="@{|/genre/${genre.name}|}"
                            th:text="${genre.name}">
                            Horror
                        </a>
                    </li>
                </ul>
            </main>
        </div>
    </body>
</html>