<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="UTF-8">
        <title>MI Tube</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
              integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
        <link rel="stylesheet" href="../static/styles/fontello.css" th:href="@{/styles/fontello.css}">
    </head>
    <body>
        <div class="container">
            <ul class="menu">
                <li class="menu-logo-container">
                    <a href="#" th:href="@{/}">
                        <span class="logo">
                            <ion-icon name="tv"></ion-icon>
                            <span>MI</span>
                        </span>
                        <span class="text">Tube</span>
                    </a>
                </li>
                <li class="menu-toggle"><a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a></li>

                <li class="menu-item">
                    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                        <ion-icon name="log-in-outline"></ion-icon>
                        <span>Sign in</span>
                    </a>

                    <div class="user-tab" sec:authorize="isAuthenticated()">
                        <div class="avatar" th:text="${session.user.initials}">JS</div>
                        <ul>
                            <li>
                                <div class="avatar" th:text="${session.user.initials}">JS</div>
                                <div class="user-info">
                                    <span class="user-name" th:text="|${session.user.firstName} ${session.user.lastName}|">John Smith</span>
                                    <span class="acc-manage"><a href="#">Manage your account</a></span>
                                </div>
                            </li>
                            <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                                <a href="#" th:href="@{/admin}">
                                    <div class="dropdown-list-pos-content">
                                        <span class="dropdown-icon">
                                            <i class="icon-cog-alt"></i>
                                        </span>
                                        <span class="dropdown-text">Admin Panel</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/logout}">
                                    <div class="dropdown-list-pos-content">
                                        <span class="dropdown-icon">
                                            <i class="icon-off"></i>
                                        </span>
                                        <span class="dropdown-text">Sign out</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item"><a href="#" th:href="@{/gatunki-filmowe}">Genres</a></li>
                <li class="menu-item"><a href="#" th:href="@{/top10}">Top 10</a></li>
            </ul>

            <header class="jumbotron">
                <h1 class="jumbotron-header">MI Tube</h1>
                <p class="jumbotron-description">
                  Welcome! Discover, rate and discuss the latest productions and cinema classics.
                </p>
            </header>

            <main class="main-content" layout:fragment="content"></main>

            <footer class="footer">
                <p>MI Tube <span id="year">0000</span> <i class="fas fa-copyright"></i></p>
            </footer>
        </div>

        <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>