<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Sign in</title>
    </head>
    <body>
        <main class="wrapper" layout:fragment="content">
            <div class="form-wrapper">
                <form action="#" th:action=" @{/login}" method="post">
                    <h2>Sign in</h2>

                    <p th:if="${param.error}"
                       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                       class="form-message">
                        Login error.
                    </p>
                    <p th:if="${param.logout}" class="form-message">You've been logged out.</p>

                    <div class="input-group">
                        <input type="email" name="username" required>
                        <label>Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit">Sign in</button>
                    <div class="signUp-link">
                        <p>Don't have an account? <a href="#" th:href="@{/rejestracja}" class="signUpBtn-link">Sign up</a></p>
                    </div>
                </form>
            </div>

        </main>

    </body>
</html>