<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
    </head>
    <body>
        <main class="wrapper" layout:fragment="content">
            <div class="form-wrapper">
                <form action="#" th:action=" @{/rejestracja}" method="post" class="" th:object="${user}">
                    <h2>Sign up</h2>
                    <div class="input-group">
                        <input type="email" name="email"  th:field="*{email}" required>
                        <label>Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" th:field="*{password}" required>
                        <label>Password</label>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox"> I accept the Terms of Use & Privacy Policy</label>
                    </div>
                    <button type="submit">Sign up</button>
                    <div class="signUp-link">
                        <p>Have an account yet? <a href="#" th:href=" @{/login}" class="signInBtn-link">Sign in</a></p>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>