<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>Delete genre</title>
    </head>
    <body>
        <main class="wrapper delete-genre" layout:fragment="content">
            <h2>Delete Genre</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="2">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="genre : ${allGenres}" th:object="${genre}">
                        <td class="name-col" th:text="*{name}">Horror</td>
                        <td class="desc-col" th:text="*{description}">Super Mario Bros</td>
                        <td class="btn-col">
                            <form action="#" th:action="@{/admin/genre-delete}" method="post">
                                <input type="hidden" name="genreId" th:value="*{id}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>