
:root {
    --navbar-log-in-icon: 1.4rem;

    --preview-card-title-font-size: 1.6rem;
    --preview-card-header-font-size: 1.6rem;
    --preview-card-border-color: #6d6d6d;
    --community-ratings-value-font-size: 1.6rem;

    --main-text-color: #fff;
    --second-text-color: #ffc107;

    --movie-original-title-color: #9e9e9e;

    --admin-button-add-color: #a8e86b;
    --admin-button-edit-color: #4e6ae1;
    --admin-button-remove-color: #fc3c3c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: var(--second-text-color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
}

.main-content {
    flex: 1;
}

.logo,
#toggle-icon {
    color: var(--second-text-color);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px var(--preview-card-border-color) solid;
    text-align: center;
    display: none;
}

.menu-item a {
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu-item a ion-icon {
    font-size: var(--navbar-log-in-icon);
    padding-right: 3px;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    color: var(--main-text-color);
    padding: 8px;
    text-align: center;
}

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
}

.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--main-text-color);
}

.jumbotron-description {
    color: var(--main-text-color);
    font-size: 1.2rem;
}

.list-heading,
.list-description {
    color: var(--main-text-color);
    text-align: center;
    margin: 16px 0;
}

.movie-list {
    list-style-type: none;
    color: var(--main-text-color);
}

.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px var(--preview-card-border-color) solid;
}

.movie-list-item-poster {
    display: block;
    max-width: 200px;
}

.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px;
}

.movie-list-item-content > * {
    margin: 8px 0;
}

.movie-list-item-title {
    font-size: var(--preview-card-title-font-size);
}

.movie-list-item-rating {
    font-size: var(--community-ratings-value-font-size);
}

.movie-list-item-rating .star {
    color: var(--second-text-color);
}

.movie-summary {
    display: flex;
    margin-top: 16px;
    color: var(--main-text-color);
}

.movie-summary-cover {
    object-fit: contain;
    max-width: 200px;
}

.movie-summary-info {
    margin-left: 16px;
}

.movie-summary-original-title {
    color: var(--movie-original-title-color);
    margin-bottom: 16px;
}

.movie-summary-item {
    margin: 8px 0;
}

.movie-summary-title {
    font-size: 2rem;
}

.movie-rating-container {
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.movie-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

.movie-rating-value {
    font-size: 4rem;
    text-align: center;
}

.movie-rating-button {
    color: var(--main-text-color);
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 6px;
    opacity: 0.8;
}

.movie-rating-button:hover {
    opacity: 1;
}

.movie-rating-container > * {
    margin: 8px 0;
}

.movie-section {
    color: var(--main-text-color);
    margin-top: 16px;
    padding: 16px;
    border: 1px var(--preview-card-border-color) solid;
    border-radius: 4px;
}

.movie-section-heading {
    margin-bottom: 8px;
}

.movie-trailer {
    display: block;
    margin: auto;
}

.error-container {
    color: var(--main-text-color);
    margin: 32px auto;
}

.error-container > * {
    display: block;
    text-align: center;
}

.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}

.list-border {
    margin: auto;
    list-style: none;
}

.list-border > li {
    color: var(--second-text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border: 1px var(--preview-card-border-color) solid;
    padding: 16px;
    text-align: center;
}

.list-border > li .btn {
    color: #000;
    width: 5rem;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 5px;
}

.list-border > li div {
    display: flex;
    flex-wrap: wrap;
}

.add {
    background-color: var(--admin-button-add-color);
}

.edit {
    background-color: var(--admin-button-edit-color);
}

.delete {
    background-color: var(--admin-button-remove-color);
}

textarea {
    font-family: inherit;
}

.mc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.mc-form > * {
    margin-top: 8px;
}

.mc-form label {
    color: var(--main-text-color);
}

.mc-form > input,
.mc-form > textarea,
.mc-form > select,
.mc-form > button {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}

.mc-form > option {
    color: black;
}

.mc-form > input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
}

.mc-form > input[type=file] {
    color: var(--main-text-color);
}

.mc-form > button {
    margin-top:  16px;
    background-color:  #fff;
    color: var(--second-text-color);
    border: none;
}

.notification-bar {
    text-align: center;
    background-color: #ffc107;
    padding: 8px 0;
}

.mc-form-message {
    color: var(--second-text-color);
    text-align: center;
}

.registration-link {
    text-align: center;
    margin-top: 32px;
}

.pick-movie {
    display: block;
    padding-bottom: 100px;
}

.pick-movie div {
    display: flex;
    justify-content: center;
}

.pick-movie button {
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    font-size: 1.2rem;
    color: #000;
    width: 7rem;
    padding: 7px 30px;
    border-radius: 10px;
    background-color: var(--admin-button-remove-color);
}

.pick-movie label {
    font-size: 1.2rem;
    color: var(--main-text-color);
    padding-right: 15px;
    margin: auto 0;
}

.pick-movie select {
    font-size: 1.2rem;
    width: 61.8%;
    padding: 8px;
}

.invisible {
    display: none;
}

.poster {
    margin: auto;
}

.genre-preview {
    width: inherit;
    color: var(--main-text-color);
    font-size: 1.2rem;
}

.genre-preview .genre-preview-description,
.genre-preview .genre-preview-name {
    display: flex;
}


.genre-preview .genre-preview-name > *,
.genre-preview .genre-preview-description > * {
    display: flex;
    padding: 7px;
}

.genre-preview .genre-preview-name .name-text,
.genre-preview .genre-preview-description .desc-text {
    width: 90px;
}
.genre-preview .genre-preview-name .name-value,
.genre-preview .genre-preview-description .desc-value {
    width: 100%;
}



@media only screen and (min-width: 992px) {
    /*na ekranie powyżej 992px przycisk do rozwijania menu zostanie ukryty*/
    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }


    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }

    .movie {
        display: flex;
        justify-content: space-between;
    }

    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }

}